body {
  background-color: #f3ee70;
  color: black;
  font-family: 'Roboto', sans-serif;
  padding: 47px 54px;
  margin: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-bottom: 5px solid black;
}

header img {
  height: 60px;
}

header .nav {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  font-size: 32px;
}

header .nav_buybox {
  background-color: #f37070;
  font-weight: bolder;
  margin: -30px 0;
  padding: 50px 0;
}

header .nav_buybox span {
  padding: 20px 30px;
  border-bottom: 5px solid black;
}

@media (max-width: 900px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header img {
    height: 120px;
  }
  header .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 24px;
  }
  header .nav span {
    border-bottom: 0px;
    padding: 0px;
  }
  header .nav_buybox {
    background-color: #f3ee70;
    margin: auto;
    padding: 0px;
    font-weight: normal;
  }
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-top: 146px;
}

.main_list {
  display: inherit;
  width: 480px;
  margin-left: -54px;
  padding-left: 54px;
  padding-top: 50px;
  background-color: #f37070;
  font-size: 40px;
  font-weight: bolder;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.main .second_list {
  display: inherit;
  -ms-grid-row: 2;
      grid-row-start: 2;
  font-size: 32px;
}

.main .barcode {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 6;
}

.main .barcode img {
  padding-bottom: 30px;
  border-bottom: 5px solid black;
}

.main .barcode_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 32px;
}

.main .barcode_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 900px;
}

@media (max-width: 1118px) {
  .main .barcode {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    margin-top: 100px;
  }
  .main_list {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    width: auto;
    margin-right: -54px;
  }
}
/*# sourceMappingURL=styles.css.map */